<div class="container-fluid py-5" style="padding-top:1rem !important;">
    <h1 class="text-dark text-center mb-4">Telecom</h1>
    <section id="extend-the-life" class="mb-5">
        <div class="container">
            <!-- Row with Image and Text -->
            <div class="row align-items-center">
                <!-- Image Column -->
                <div class="col-lg-5 col-sm-12">
                    <img src="~/assets/Telecom.jpg" alt="whoWeAre" class="img-fluid rounded rounded-1">
                </div>
                <!-- Text Column -->
                <div class="col-lg-7 col-sm-12">
                    <h2 class="text-dark text-center mb-1 fw-bold">Telecom</h2>
                    <p class="text-dark">
                        “There is a huge scope of improvement in after-sales operations of electronics repairs – in terms of process adherence, customer experience and adoption of technology, specifically in the hardware repair vertical’’
                        Lack of support from the manufacturer is the main reason why a company would choose to replace the equipment’s in their network, this needs more CAPEX and OPEX as well, CTS aims to counteract this by repair and replacement of faulty equipment’s.
                        Our tailored and complete engineering services are used e.g. for testing, verifications, product upgrades, product design changes and maintenance services. Our telecom reverse engineering team has very experienced personnel to create telecom network equipment repair capability not only to ourselves but also to customer for their own purposes. Telecom reverse engineering enables telecom network hardware maintenance services independently without OEM support."
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="extend-the-life" class="mb-5">
        <div class="container">
            <!-- Row with Image and Text -->
                    <h1 class="text-dark text-center mb-1 fw-bold">A Comprehensive &unique capability to support low/medium to high volume products, supporting OEM, third party & multi-vendor repairs.</h1>
            <div class="row align-items-center">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <ul>
                        <li >
                            <span >
                                <i  class="fas fa-check"></i>
                            </span>
                            <span> Power Amplifiers</span>
                        </li>
                        <li >
                            <span >
                                <i  class="fas fa-check"></i>
                            </span>
                            <span >LNAs</span>
                        </li>
                        <li >
                            <span >
                                <i  class="fas fa-check"></i>
                            </span>
                            <span >UMTS</span>
                        </li>
                        <li >
                            <span >
                                <i  class="fas fa-check"></i>
                            </span>
                            <span >Transceivers</span>
                        </li>
                        <li >
                            <span >
                                <i  class="fas fa-check"></i>
                            </span>
                            <span >Microwave Indoor units</span>
                        </li>
                        <li >
                            <span >
                                <i  class="fas fa-check"></i>
                            </span>
                            <span >Microwave Outdoor units</span>
                        </li>
                        <li >
                            <span >
                                <i  class="fas fa-check"></i>
                            </span>
                            <span >TMA</span>
                        </li>
                        <li >
                            <span >
                                <i  class="fas fa-check"></i>
                            </span>
                            <span >Rectifiers</span>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <ul>
                        <li >
                            <span >
                                <i  class="fas fa-check"></i>
                            </span>
                            <span >DC-DC Power Supplies</span>
                        </li>
                        <li >
                            <span >
                                <i  class="fas fa-check"></i>
                            </span>
                            <span >AC-DC Power Supplies</span>
                        </li>
                        <li >
                            <span >
                                <i  class="fas fa-check"></i>
                            </span>
                            <span >Embedded Control</span>
                        </li>
                        <li >
                            <span >
                                <i  class="fas fa-check"></i>
                            </span>
                            <span >Line Cards</span>
                        </li>
                        <li >
                            <span >
                                <i  class="fas fa-check"></i>
                            </span>
                            <span >Nortel/Alcatel BTS support</span>
                        </li>
                        <li >
                            <span >
                                <i  class="fas fa-check"></i>
                            </span>
                            <span >2G/3G/4G</span>
                        </li>
                        <li >
                            <span >
                                <i  class="fas fa-check"></i>
                            </span>
                            <span >Wireline and Wireless</span>
                        </li>
                        <li >
                            <span >
                                <i  class="fas fa-check"></i>
                            </span>
                            <span >Small Cell Systems</span>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <ul >
                        <li >
                            <span >
                                <i a class="fas fa-check"></i>
                            </span>
                            <span >Distributed Antenna Systems</span>
                        </li>
                        <li >
                            <span >
                                <i a class="fas fa-check"></i>
                            </span>
                            <span >RF Repeaters</span>
                        </li>
                        <li >
                            <span >
                                <i a class="fas fa-check"></i>
                            </span>
                            <span >Tetra Radios</span>
                        </li>
                        <li >
                            <span >
                                <i a class="fas fa-check"></i>
                            </span>
                            <span >Set top boxes</span>
                        </li>
                        <li >
                            <span >
                                <i a class="fas fa-check"></i>
                            </span>
                            <span >ONT/ONU/OLT</span>
                        </li>
                        <li >
                            <span >
                                <i a class="fas fa-check"></i>
                            </span>
                            <span >Switches/Routers</span>
                        </li>
                        <li >
                            <span >
                                <i a class="fas fa-check"></i>
                            </span>
                            <span >Gateways /Modems</span>
                        </li>
                        <li >
                            <span >
                                <i a class="fas fa-check"></i>
                            </span>
                            <span >10-100G Transport</span>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <ul >
                        <li >
                            <span >
                                <i a class="fas fa-check"></i>
                            </span>
                            <span >Optical Add/Drop Multiplexer</span>
                        </li>
                        <li >
                            <span >
                                <i a class="fas fa-check"></i>
                            </span>
                            <span >SONET / SDH/DWM</span>
                        </li>
                        <li >
                            <span >
                                <i a class="fas fa-check"></i>
                            </span>
                            <span >Inverters, solar inverters</span>
                        </li>
                        <li >
                            <span >
                                <i a class="fas fa-check"></i>
                            </span>
                            <span >Smart meters</span>
                        </li>
                        <li >
                            <span >
                                <i a class="fas fa-check"></i>
                            </span>
                            <span >10-100G Transport</span>
                        </li>
                        <li >
                            <span >
                                <i a class="fas fa-check"></i>
                            </span>
                            <span >Optical Add/Drop Multiplexer</span>
                        </li>
                        <li >
                            <span >
                                <i a class="fas fa-check"></i>
                            </span>
                            <span >SONET / SDH/DWM</span>
                        </li>
                        <li >
                            <span >
                                <i a class="fas fa-check"></i>
                            </span>
                            <span >Many More…</span>
                        </li>
                    </ul>
                </div>
               
            </div>
        </div>
    </section>

    <section id="Deep-Technical-knowledge" class="mb-5">
        <div class="container">
            <!-- Section Title -->
            <h1 class="text-dark text-center mb-5">“Deep Technical knowledge and competences”</h1>

            <!-- Row with Icons and Text -->
            <div class="row text-center d-flex justify-content-center">
                <!-- Telecom -->
                <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                    <div class="d-flex flex-column align-items-center">
                        <i class="fa-solid fas fa-code fa-3x text-primary mb-3"></i>
                        <h5 class="mt-2">Grow your Forward And Reverse Logistics</h5>
                    </div>
                </div>
                <!-- Enterprise Equipment Repair -->
                <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                    <div class="d-flex flex-column align-items-center">
                        <i class="fa-solid fa-filter fa-3x text-success mb-3"></i>
                        <h5 class="mt-2">Screening</h5>
                    </div>
                </div>
                <!-- CPE -->
                <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                    <div class="d-flex flex-column align-items-center">
                        <i class="fa-solid fa-arrow-up-from-bracket fa-3x text-info mb-3"></i>
                        <h5 class="mt-2">Testing & Upgrade</h5>
                    </div>
                </div>
                <!-- Industrial -->
                <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                    <div class="d-flex flex-column align-items-center">
                        <i class="fa-solid fa-gears fa-3x text-warning mb-3"></i>
                        <h5 class="mt-2">Repair</h5>
                    </div>
                </div>
                <!-- Power / Energy -->
                <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                    <div class="d-flex flex-column align-items-center">
                        
                        <i class="fa-solid fa-money-bill-trend-up fa-3x text-danger mb-3"></i>
                        <h5 class="mt-2">Refurfishment & Sale</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="Conect-with-Us" class="mb-5">
        <div class="container">
            <!-- Section Title -->
            <div class="row justify-content-center align-items-center">
                <div class="col-auto">
                    <h1 class="text-dark mb-0">Connect with Us for More Details</h1>
                </div>
                <div class="col-auto">
                    <button class="btn btn-primary">Contact Us</button>
                </div>
            </div>
        </div>
    </section>
</div>